body{
    color: white;
    background-color: rgb(97, 97, 97);;
}

.add-new{
    text-align: center;
    color: white;
    margin: auto;
}

#add-new-button{
    cursor: pointer;
    color: #1abc9c;
}

#add-new-button:hover{
    cursor: pointer;
    color: grey;
}

.card{
    border-radius: 3px;
    background-color: #1abc9c;
    margin: auto;
}

.card-body{
    padding: 10px;
}

.navbar-brand{
    text-align: center;
    margin: auto;
    width: 100%;
    background-color: #1abc9c;
    color: white;
}

.container-fluid{
    margin: auto;
    width: 95%;
}

#title{
    padding-left: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #1abc9c;
    color:white;
}

.row{
    margin-bottom: 20px;
}

.modal{
    color: black;
}